/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Splash*/

#splash{
	height: 100vh;
	width: 100vw;
	position: fixed;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

#splash-background{
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-image: url("./images/flag.jpg");
	background-size: cover;
	z-index: 1;
	opacity: .8;
}

.splash-title{
	font-size: 80px;
	font-weight: bolder;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.splash-eagle{
	height: 200px;
	width: 200px;
	margin-top: 25px;
	margin-bottom: 225px;
	border-radius: 500px;
	background-image: url("./images/eagle.jpg");
	background-position: -60px;
	background-size: cover;
}

.none{
	display: none !important;
}

.heckyeah {
	width: 100vw;
	position: fixed;
	text-align: center;
	opacity: 0;
	top: 40%;
	font-size: 80px;
	font-weight: bolder;
	color: red;
	z-index: -1;
}

.fadeInOut {
	-webkit-animation: fadesInOut 1.5s; /* Safari 4.0 - 8.0 */
	animation: fadesInOut 1.5s;
}

.fadeIn {
	-webkit-animation: fadesIn 1.25s ease; /* Safari 4.0 - 8.0 */
	animation: fadesIn 1.25s ease;
}

.fadeInSlower {
	-webkit-animation: fadesIn 1.25s ease-in; /* Safari 4.0 - 8.0 */
	animation: fadesIn 1.25s ease-in;
}

@keyframes fadesInOut {
    0%   {opacity: 0; z-index: 3;}
    50%  {opacity: 1; z-index: 3;}
    100% {opacity: 0; z-index: 3;}
}

@keyframes fadesIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

/*Underlay*/

#github{
	position: fixed;
	right: 50%;
	bottom: 10px;
	opacity: .5;
	width: 30px;
	height: 30px;
	background-image: url("./images/github.png");
	border-radius: 40px;
	background-size: cover;
}

#github:hover{
	opacity: 1;
	z-index: -5;
}

/*Display*/

#display{
	padding: 30px 0 20px 0;
	display: flex;
	flex-direction: column;
}

#year-label{
	font: sans-serif;
	font-size: 3rem;
	font-weight: bolder;
	display: flex;
	justify-content: center;
}

#graph-area{
	display: flex;
}

#smaller-graphs{
	display: flex;
	flex-direction: column;
}

/*Form*/


#filter-form-years {
	float: left;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0 10px 0 10px;
}

#filter-form-filters {
	display: flex;
	justify-content: flex-end;
	padding: 0 25px 0 25px;
	width: 1150px;
}

#filter-form-filters > * {
	padding: 0 15px 0 15px;
}


/*d3*/

.axis text {
  stroke: #000;
  stroke-width: .25;
}

.bar {
  transition: all .5s;
  opacity: .8;
}

.democrat {
  fill: steelblue;
	stroke: steelblue;
}

.democrat:hover {
  fill: blue;
  stroke: blue;
}

.other {
  fill: yellow;
  stroke: yellow;
}

.other:hover {
  fill: green;
  stroke: green;
}

.republican {
  fill: red;
  stroke: red;
}

.republican:hover {
  fill: darkred;
  stroke: darkred;
}

.arc {
  transition: all .5s;
  opacity: .8;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
  stroke: #000;
  stroke-width: .6;
}

.arc path {
  stroke: #fff;
}

.current-state {
  font: 40px sans-serif;
}

.current-year{
	font: 18px sans-serif;
	font-weight: bold;
}

.line {
	transition: all .5s;
	opacity: .8;
	fill: none;
	stroke-width: 3px;
}

.line:hover {
	fill: none;
	stroke-width: 4px;
}
